a {
    text-decoration: none;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 30px;
}
.header__ttl {
    font-size: 24px;
    width: 80px;
}
.header__nav__list {
    display: flex;
    font-weight: bold;
}
.header__nav__list--item:not(:last-child) {
    margin-right: 30px;
}
.top {
    position: relative;
    /* box-sizing: border-box; */
    height: auto;
}
.top__img  img {
    display: block;
    width: 50vw;
}
.top__img {
    position: absolute;
    top: 100px;
    right: 0;
    z-index: 0;
}
.top__heading{
    position: absolute;
    top: 55vh;
    left: 0;
    width: 100%;
    z-index: -10;
}
.top__heading__text {
    font-size: 50px;
    font-weight: lighter;
}
.top__heading__box {
    width: 70%;
    height: 200px;
    margin-bottom: 50px;
    background: rgb(7, 7, 148);
}